<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Tab Home -->
    <ion-tab-button tab="home" href="/app/home">
      <ion-icon aria-hidden="true" name="cash-outline"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>
  
    <!-- Tab Input Kas -->
    <ion-tab-button tab="daftar" href="/app/daftar">
      <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
      <ion-label>Input Kas</ion-label>
    </ion-tab-button>

    <!-- Tab Data Kas -->
    <ion-tab-button tab="data" href="/app/data">
      <ion-icon aria-hidden="true" name="document-text-outline"></ion-icon>
      <ion-label>Data Kas</ion-label>
    </ion-tab-button>
  
    <!-- Tab Tentang -->
    <ion-tab-button tab="about" href="/app/about">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Tentang</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
